.trigger {
  font-size: 18px;
  padding: 0 20px;
  cursor: pointer;
  transition: color 0.3s;
  color: #fff;
}

.trigger:hover {
  color: #fff;
}

.logo {
  height: 50px;
  background: #050505;
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding-left: 24px;

  span {
    margin-left: 10px;
  }
}
.logoCenter {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: normal;

  span {
    margin-left: 5px;
  }
}

.siteLayout {
  transition: all 0.2s;
  margin: 24px 16px;
  padding: 24;
  min-height: 280;
  background: #fff;
}

.siteLayoutBackground {
	padding-left: 0;
}

.root {
	min-height: 100vh;
  :global {
    .ant-layout-sider-collapsed {
      max-width: 50px !important;
      min-width: 50px !important;
      width: 50px !important;

      .ant-menu-inline-collapsed {
        width: 50px;

        .ant-menu-item {
          text-align: center;
        }
      }

      :local(.logo) {
        justify-content: center;
        padding: 0;
      }
    }
  }
}

.sidebar {
	// background-color: #616161;
}

.headerRight {
  padding: 0 20px;
  height: 50px;
  display: flex;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.42);
  z-index: 98;
  cursor: pointer;
}
