@import '~antd/dist/antd.less';
@import 'variables.less';

@theme: default;

// The prefix to use on all css classes from ant.
@ant-prefix: ant;

// An override for the html selector for theme prefixes
@html-selector: html;


//-----Box Header-----

.BoxHeader{
    padding:5px;
    background-color: @tertiary-color;
    color: @white-color;
}

//-----Form-----

.FormBox{
    background-color:@white-color;
    max-width:100%;
    border-width:1px;
    border-color:black;
    border-style: solid;
    margin:20px;
}

.Form{
    margin: 20px;
    background-color:@white-color;
    padding-left:20%;
    width:60%;
    max-width:100%;
}

.SearchButtonSection{
    display:flex;
    margin-bottom:20px;
}

.SearchButton{
    margin-left:auto;
    margin-right:20px;
}

//-----Table-----

.ant-tabs{
    padding: 5px;
    background-color: @white-color;
}

.ant-table{
    overflow:auto;
    width:100%;
}

//-----Menu-----

.ant-menu-item{
    white-space: break-spaces;
    word-break: break-word;
    height: '150px';
}

.ant-menu-item:hover{background-color: #434343;}


//-----Sider-----

.ant-layout-sider-children {
    overflow:auto;
    //position: fixed;
}

.SiderTrigger{
    background-color: @secondary-color;
    color: @tertiary-color;
    display:flex;
}

.SiderTriggerButton{
    margin-left:auto;
}

//-----Footer-----
.ant-layout-footer{
    color: @white-color;
}