@primary-color: #d52b1e; // primary color for all components
@secondary-color:#333;
@tertiary-color: #403f3e;
@header-bg-color: #e7e7e7;
@white-color: #ffffff;

//@background-color-light:@primary-color;

//Header
@layout-header-background: @header-bg-color;

//Sider
@layout-sider-background:@secondary-color;
@layout-trigger-height:200px;

//Menu
@menu-bg:@secondary-color;
@menu-horizontal-line-height: normal;

@menu-inline-submenu-bg: @tertiary-color;

@menu-item-color: #a8a8a8;
@menu-item-active-bg: #747678;
@menu-item-height: normal;
@menu-highlight-color:@white-color;

//Footer
@layout-footer-background:#2a2725;
@layout-footer-color:@white-color;